.container {
    width: 200px;
    clear: both;
}
.container input {
    width: 100%;
    clear: both;
}

h6{
  color: red;
  /*display: inline-block;
  width:150px;
  text-align: right;*/
}

h5, li{
  color: gray;
  font-size: 10pt;
  margin: 0;
}

ul {
  margin: 0px;
}
