<h1>Login Page</h1>
<!--flash notice if input is invalid-->
<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>

<!--Login form for username and password-->
<div class="container">
  <form action="/register/user_login" method="post">
    <label for="username">Enter Username:</label>
    <input type="text" name="username" required><br>
    <label for="password">Enter Password:</label>
    <input type="password" name="password" required><br><br>
    <input type="submit" name="Login" value="Login">
  </form>
</div>

<p>Not a registered user? Click <a href="/">here</a> to register</p>
